.main {
  padding-top: 10px;
}
.input {
  border: var(--border-info);
  border-radius: var(--border-radius);
  width: 50vw;
  height: 50px;
}
.langSelect {
  width: 10vw;
  height: 50px;
  border: var(--border-info);
  border-radius: var(--border-radius);
}
